#div0{
  position : absolute;
  top: 20%;
  bottom: 20%;
  left: 20%;
  right: 20%;
}
.menu{
  height: 35%;
  width: 35%;
  background-color: rgba(236, 104, 52, 1);
  text-size-adjust: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;

}
#div1{
  position: absolute;
  top: 10%;
  left: 10%;
}
#div2{
  position: absolute;
  top: 10%;
  right: 10%
}
#div3{
  position: absolute;
  bottom: 10%;
  left: 10%;
}
#div4{
  position: absolute;
  bottom: 10%;
  right: 10%
}
