<!doctype html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Retard Admin</title>
</head>
<body>
<div *ngIf="personnes && absences">
  <h2>Liste des retards non vérifiés</h2>
  <ul>
    <li *ngFor="let personne of personnes; let i = index">
      {{personne['prénom']}} {{personne.nom}}
      <ul *ngIf="absences[i]">
        <li>
          {{ absences[i].dateFin | date:'dd / MM / yyyy à HH:mm'}} : {{ absences[i].motif }}
          <button type="button" id="accepter" (click)="justifierRetard(absences[i].id)">Retard justifié</button>
          <button type="button" id="refuser" (click)="pasJustifierRetard(absences[i].id)">Retard injustifié</button>
          <button *ngIf="absences[i].justificatifTxt" (click)="openJustificatif('http://localhost:8080/admin/justificatifs/' + getFilename(absences[i].justificatifTxt))">Voir le justificatif</button>
        </li>
      </ul>
    </li>
  </ul>
</div>
</body>
</html>
