<!doctype html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<form>
  <label for="debutAbsence">Sélectionnez la date de début de votre absence :</label>
  <input type="date" id="debutAbsence" name="debutAbsence" [(ngModel)]="debutAbsence">
</form>
<form>
  <label for="finAbsence">Sélectionnez la date de fin de votre absence :</label>
  <input type="date" id="finAbsence" name="finAbsence" [(ngModel)]="finAbsence">
</form>


</body>
</html>
